@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  background-color: #090e12;
  color: white;
}

html{
  width: 100vw !important;
}

section{
  padding-inline: 16px;
}

.title-span{  
  background:  #FB1F65;
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.main-btn{
  padding: 8px 42px;
  border-radius: 7px;
  position: relative; 
  border: none;
  background-color: #090e12;
}

.main-btn::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, red, deeppink, blue);
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(8px);
  background-size: 300%;  
}

.main-btn:hover::after{
  animation: btn-border 7s linear infinite;
}

.about-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
  height: 60px;
  filter: grayscale(65%);
  transition: filter 1.2s;

  &:hover{
    filter: grayscale(0%);
  }
}

.about-icon p{
  opacity: 0;
  transition: opacity 1s;
}

.about-icon:hover p{
  opacity: 1;
}

.react-icon{
  &:hover{
    animation: react-spin 4s infinite linear;
  }
}

@keyframes react-spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes btn-border {
  0%{
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100%{
    background-position: 0 0;
  }
}



.hero{
  padding-top: 76px;
}

@media (min-width: 710px){
  section{
    padding-inline: 48px;
  }
  .hero{
    padding-top: 34px;
  }
}

@media (min-width: 1020px){
  section{
    padding-inline: 122px;
  }
  .hero{
    padding-top: 124px;
  }
}

@media (min-width: 1420px){
  section{
    padding-inline: 244px;
  }
  .hero{
    padding-top: 268px;
  }
}


/* swiper styles */

.swiper-pagination-bullet {
  width: 10px !important; 
  height: 10px !important; 
  background-color: white !important;   
  /* Espaciado entre puntos */
  border-radius: 50% !important; 
  opacity: 0.8 !important;
  transition: opacity 0.3s ease !important; 
}


.swiper-pagination-bullet-active {
  opacity: 1 !important; 
  background-color: #FB1F65 !important;
}